@font-face {
    font-family: "Bebas Neue";
    src: url("C:/Users/admin/Documents/GitHub/Mots/moti/assets/icons/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: hsla(0, 0%, 13%, 1);
    --secondary-color: hsla(180, 0%, 20%, 1);
    --font-color: white;
    --pen-button-normal-fill: rgba(122, 122, 122, 0);
    --node-button-hover-color: rgb(20, 20, 20);
    --input-node-background-color: rgba(14, 14, 14, 0);
    --border-color: rgba(255, 255, 255, 0.095);
    --light-border-size: 1px;
    --light-border-color: rgba(255, 255, 255, 0.073);
    --light-border-color-active: rgba(255, 255, 255, 0.301);
    --normal-typing-font: Helvetica;
    --normal-font-size: 20px;
    --cursor-expand: ew-resize;
}

.main-sidebar {
    position: absolute;
    left: 0;
    top: 50%;
    height: 700px;
    width: 270px;
    background: var(--secondary-color);
    transform: translate(0%, -50%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: var(--light-border-size) solid var(--light-border-color);
    transition: 0.3s cubic-bezier(0.12, 0.66, 0.26, 1.01);
    display: flex;
    align-items: center;


    .sidebar-elements {
        height: 100%;
        width: 98%;
    }

    .sidebar-contracter {
        width: 1%;
        background: var(--light-border-color);
        height: 100%;
    }

    .sidebar-contracter:hover {
        background: var(--light-border-color-active);
    }


}





.main-container {
    background: var(--primary-color);
    height: 100vh;
    color: var(--font-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .navbar {
        -webkit-app-region: drag;
        width: 100%;
        background: transparent;

        .logo-container {
            display: flex;
            align-items: center;
            padding: 10px 20px;

            .logo {
                font-family: "Bebas Neue", monospace;
                font-weight: 100;
                padding-left: 10px;
                padding-top: 1.5px;
            }
        }
    }

    .main-note {
        height: 100%;
        width: 68%;
        background: rgba(132, 24, 24, 0);
        margin-top: 100px;

        .input-node {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: white;
            border: 0px white solid;
            background: rgba(14, 14, 14, 0);
            transition: 0.8s ease-in-out;
            height: 40px;

            &:hover {
                .movebtn {
                    path {
                        fill: white;
                    }
                }

                .addbtn {
                    path {
                        fill: white;
                    }
                }
            }

            .pen-button-holder {
                width: 30px;
            }

            button {
                background: transparent;
                border: none;
                outline: none;
                width: 40px;
                height: 80%;
                background: rgba(255, 255, 255, 0);
                border: 2px solid rgba(0, 0, 0, 0);
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.2s ease-in-out;

                &:hover {
                    background: var(--node-button-hover-color);
                }

                .addbtn {
                    width: 15px;
                    height: 15px;
                    fill: rgba(48, 48, 48, 0);
                    stroke: rgba(255, 33, 33, 0);
                    color: rgb(95, 95, 95);

                    path {
                        stroke: rgba(27, 27, 27, 0);
                        fill: rgba(110, 110, 110, 0);
                        transition: 0.5s ease-in-out;
                    }
                }

                .movebtn {
                    fill: rgba(48, 48, 48, 0);
                    stroke: rgba(255, 255, 255, 0);
                    color: rgb(134, 134, 134);
                    width: 30px;
                    height: 30px;

                    path {
                        stroke: rgba(27, 27, 27, 0);
                        fill: var(--pen-button-normal-fill);
                        transition: 0.5s ease-in-out;
                    }
                }

                img {
                    height: 25px;
                    padding: 0 0 0 10px;
                    stroke: white;
                    fill: white;
                }
            }

            .input-holder {
                padding: 0 0 0 2px;
                width: 100%;
                outline: none;
                border: none;
                color: white;
                margin-left: 20px;
                font-family: var(--normal-typing-font);
                font-size: var(--normal-font-size);
                display: flex;
                align-items: center;

                span {
                    display: flex;
                    align-items: center;
                    height: 40px;

                    &:active {
                        pen-button {
                            fill: rgb(48, 48, 48);
                        }
                    }
                }
            }
        }
    }
}